In [2]:
#Test
import sqlite3
con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM Facilities'):
        print(row)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [5]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! 
query = 'SELECT name AS facility, SUM((CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS Cost) AS revenue FROM Members LEFT JOIN Bookings ON Bookings.memid = Members.memid LEFT JOIN Facilities ON Facilities.facid = Bookings.facid WHERE revenue < 1000 GROUP BY Bookings.facid ORDER BY revenue'
for row in cur.execute(query):
    print()

OperationalError: near "AS": syntax error